XTerm*reverseVideo:   	    on
XTerm*visualBell:   	    off
XTerm*scrollLines:   	    10000
XTerm*faceName: Inconsolata
XTerm*faceSize: 13
XTerm*termName:         xterm-256color
Xft*antialias: 1
Xft*dpi: 96
Xft*hinting: 1
Xft*hintstyle: hintfull
Xft*rgba: rgba
URxvt*reverseVideo:   	    on
URxvt*iso14755: False
URxvt*visualBell:   	    off
URxvt*scrollLines:   	    10000
URxvt*scrollBar:   	    0
URxvt*url-launcher:	/usr/bin/open
URxvt*perl-ext: selection,matcher
URxvt.colorUL: #4682B4
URxvt*matcher.button:	3
URxvt*underlineURLs: true
URxvt*transparent:	off
URxvt*shading:	10
URxvt.font:             xft:Inconsolata-13:Medium:antialias=true:hinting=true xft:Meiryo Normal-13
URxvt.boldfont:         xft:Inconsolata-13:Bold:antialias=true:hinting=true xft:Meiryo Bold-13
URxvt.letterSpace:	 -1
!URxvt.italicFont:       xft:Consolas-13:Italic
URxvt.imLocale: ja_JP.UTF-8
URxvt.preeditType: OnTheSpot,None
URxvt.urgentOnBell:         true
URxvt.cursorBlink:         false
URxvt.scrollTtyOutput:        false
URxvt.termName: xterm-256color
URxvt.fading: 25
URxvt.keysym.S-Insert: builtin:

! tango-ish
!urxvt*foreground:		#000000
urxvt*foreground:		#121212
!urxvt*background:		#FFFFFF
urxvt*background:		#dbded6
urxvt*cursorColor:		#729fcf
urxvt*pointerColorBackground:	#2e3436
urxvt*pointerColorForeground:	#eeeeec
urxvt*color0:			#2e3436
urxvt*color1:			#cc0000
urxvt*color2:			#4e9a06
urxvt*color3:			#c4a000
urxvt*color4:			#3465a4
urxvt*color5:			#75507b
urxvt*color6:			#06989a
urxvt*color7:			#d3d7cf
urxvt*color8:			#555753
urxvt*color9:			#ef2929
urxvt*color10:			#8ae234
urxvt*color11:			#fce94f
urxvt*color12:			#729fcf
urxvt*color13:			#ad7fa8
urxvt*color14:			#34e2e2
urxvt*color15:			#eeeeec


!zenburn
!URxvt.foreground: #dcdccc
!URxvt*background: #3f3f3f
!URxvt*colorUL: #c5f779
!URxvt*underlineColor: #c5f779
!URxvt*color0:#3f3f3f
!URxvt*color1:       #705050
!URxvt*color2:        #60b48a
!URxvt*color3:    #dfaf8f
!URxvt*color4:      #506070
!URxvt*color5:   #dc8cc3
!URxvt*color6:      #8cd0d3
!URxvt*color7:     #DCDCCC
!
!URxvt*color8:      #709080
!URxvt*color9:      #cc9393
!URxvt*color10:    #7f9f7f
!URxvt*color11:   #f0dfaf
!URxvt*color12:     #94bff3
!URxvt*color13:  #ec93d3
!URxvt*color14:    #93e0e3
!URxvt*color15:          #ffffff


xmessage*background:            black
xmessage*foreground:            white
xmessage*borderWidth:           0
xmessage*Text*background:       black
xmessage*Text*foreground:       white
xmessage*Text.borderColor:      black
